body,h1, h2, h3, p, ul, li { 
 margin: 0; 
 padding: 0; 
 

} 
body,h2{
background-color: #fdf2f2;
} 
header { 
 background-color: #680707; 
 color: #e48787; 
 text-align: center; 
 padding: 20px; 
} 
nav ul { 
 list-style-type: none; 
} 
nav li { 
 display: inline; 
 margin: 0 20px; 
} 
nav a { 
 text-decoration: none; 
 color: #56f180; 
} 
.hero { 
 background-image: url('salon-bg.jpg');

 background-size: cover;  color: black; 
 text-align: center; 
 padding: 100px; 
} 
.services { 
 text-align: center; 
 padding: 40px; 

 
} 
.service { 
 margin: 20px; 
} 
.service img { 
 max-width: 100%; 
 border: 3px solid #333; } 
.contact { 
 background-color: #79d7ee;  padding: 40px; 
 text-align: center; 
} 
form { 
 max-width: 400px; 
 margin: 0 auto; 
} 
label, input, textarea { 
 display: block; 
 margin: 10px 0; 
} 
button {

 background-color: #333; 
 color: #cbf72e; 
 padding: 10px 20px; 
 border: none; 
 cursor: pointer; 
} 
footer { 
 background-color: #333; 
 color: #fff; 
 text-align: center; 
 padding: 10px; 
} 
