body {
    font-family: Arial;
    margin: 0;
    background: #f1fcf9;
}

/* Navigation Menu */
.menu {
    background: #6d28d9; /* Purple */
    padding: 12px;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.menu a:hover {
    color: #fde047;
}

/* Sections */
.section {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

/* Home Banner */
.home-banner {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d8b4fe;
}

/* Product Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* Product Cards */
.card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px #cbd5e1;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

/* Wishlist Buttons */
.wish-btn {
    background: #f97316;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.wish-btn:hover {
    background: #c2410c;
}

/* Inputs */
input {
    width: 250px;
    padding: 8px;
    margin: 6px 0;
    border: 2px solid #a855f7; /* Purple border */
    border-radius: 6px;
}

/* General buttons */
button {
    background: #6d28d9;
    color: white;
    border: none;
    padding: 8px 20px;
    margin-top: 8px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #4c1d95;
}

/* Errors */
.error {
    color: red;
    font-size: 14px;
}

/* Footer */
footer {
    background: #4c1d95;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 30px;
}
